# Credenciais da Cloudflare R2 
endpoint_r2_url=https://seu_account_id.r2.cloudflarestorage.com
r2_access_key_cloudflare=sua_access_key_aqui
r2_secret_access_key=sua_secret_key_aqui
R2_BUCKET_NAME=bcb-pipeline-bronze

# Endpoints das APIs do Banco Central
BCB_API_SELIC=https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados
BCB_API_DOLAR=https://api.bcb.gov.br/dados/serie/bcdata.sgs.10813/dados
BCB_API_IPCA=https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados
BCB_API_IBCBR=https://api.bcb.gov.br/dados/serie/bcdata.sgs.24363/dados